
.navBar {
 
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
      height: 5vw;
      width: 100vw;
      background-color: #161616;
      z-index: 2;
      justify-content: space-between;


} 

.navBar > img {
  height: inherit;
}


.connectionContainer {
  display: flex;
  height: inherit;
  align-items: center;
}