
.navBar {
 
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
      height: 5vw;
      width: 100vw;
      background-color: #161616;
     z-index: 2;
      justify-content: space-between;
}

.leftSideContainer {
  height: inherit;
  display: flex;
}

.leftSideContainer > img {
  height: inherit;
}


.connectionContainer {
  display: flex;
  height: inherit;
  align-items: center;
}



.tabContainer > * {
  align-items: center !important;
}

.tabContainer {
  display: flex;
  align-items: center;
  height: inherit;
  margin-top: 20px;
  justify-content: space-evenly;
}

.sc-iuStju {
  align-self: center;
} 

.kNFIHq {}